/* card dimensions are height:96 width:72. 1px between cards*/

@import "variables.scss";

@mixin cardSprite($x, $y){
	background-position-x: calc(#{$x}*-#{$cardWidth});
	background-position-y: calc(#{$y}*-#{$cardHeight} + #{$y}*0.8px); //TODO: this is stupid and weird. Find different sprites
}

.card {
	height: $cardHeight;
	width: $cardWidth;
	position: absolute;
	border-radius: 3px;
	transition: all 0.5s;
	background-image: url('../Images/cards.gif');

	&.cardBack {
		@include cardSprite(0, 4);
	}

	&#Clubs14 {
		@include cardSprite(12, 2);
	}

	&#Clubs13 {
		@include cardSprite(11, 2);
	}

	&#Clubs12 {
		@include cardSprite(10, 2);
	}

	&#Clubs11 {
		@include cardSprite(9, 2);
	}

	&#Clubs10 {
		@include cardSprite(8, 2);
	}

	&#Clubs9 {
		@include cardSprite(7, 2);
	}

	&#Diamonds14 {
		@include cardSprite(12, 1);
	}

	&#Diamonds13 {
		@include cardSprite(11, 1);
	}

	&#Diamonds12 {
		@include cardSprite(10, 1);
	}

	&#Diamonds11 {
		@include cardSprite(9, 1);
	}

	&#Diamonds10 {
		@include cardSprite(8, 1);
	}

	&#Diamonds9 {
		@include cardSprite(7, 1);
	}

	&#Hearts14 {
		@include cardSprite(12, 0);
	}

	&#Hearts13 {
		@include cardSprite(11, 0);
	}

	&#Hearts12 {
		@include cardSprite(10, 0);
	}

	&#Hearts11 {
		@include cardSprite(9, 0);
	}

	&#Hearts10 {
		@include cardSprite(8, 0);
	}

	&#Hearts9 {
		@include cardSprite(7, 0);
	}

	&#Spades14 {
		@include cardSprite(13, 3);
	}

	&#Spades13 {
		@include cardSprite(12, 3);
	}

	&#Spades12 {
		@include cardSprite(11, 3);
	}

	&#Spades11 {
		@include cardSprite(10, 3);
	}

	&#Spades10 {
		@include cardSprite(8, 3);
	}

	&#Spades9 {
		@include cardSprite(7, 3);
	}
}