/* card dimensions are height:96 width:72. 1px between cards*/
.card {
  height: 160px;
  width: 120px;
  transition: all 0.5s;
  background-image: url("../Images/cards.png"); }
  .card.cardBack {
    background-position-x: calc(2*-120px);
    background-position-y: calc(4*-160px); }
  .card#Clubs14 {
    background-position-x: calc(0*-120px);
    background-position-y: calc(0*-160px); }
  .card#Clubs13 {
    background-position-x: calc(12*-120px);
    background-position-y: calc(0*-160px); }
  .card#Clubs12 {
    background-position-x: calc(11*-120px);
    background-position-y: calc(0*-160px); }
  .card#Clubs11 {
    background-position-x: calc(10*-120px);
    background-position-y: calc(0*-160px); }
  .card#Clubs10 {
    background-position-x: calc(9*-120px);
    background-position-y: calc(0*-160px); }
  .card#Clubs9 {
    background-position-x: calc(8*-120px);
    background-position-y: calc(0*-160px); }
  .card#Diamonds14 {
    background-position-x: calc(0*-120px);
    background-position-y: calc(2*-160px); }
  .card#Diamonds13 {
    background-position-x: calc(12*-120px);
    background-position-y: calc(2*-160px); }
  .card#Diamonds12 {
    background-position-x: calc(11*-120px);
    background-position-y: calc(2*-160px); }
  .card#Diamonds11 {
    background-position-x: calc(10*-120px);
    background-position-y: calc(2*-160px); }
  .card#Diamonds10 {
    background-position-x: calc(9*-120px);
    background-position-y: calc(2*-160px); }
  .card#Diamonds9 {
    background-position-x: calc(8*-120px);
    background-position-y: calc(2*-160px); }
  .card#Hearts14 {
    background-position-x: calc(0*-120px);
    background-position-y: calc(3*-160px); }
  .card#Hearts13 {
    background-position-x: calc(12*-120px);
    background-position-y: calc(3*-160px); }
  .card#Hearts12 {
    background-position-x: calc(11*-120px);
    background-position-y: calc(3*-160px); }
  .card#Hearts11 {
    background-position-x: calc(10*-120px);
    background-position-y: calc(3*-160px); }
  .card#Hearts10 {
    background-position-x: calc(9*-120px);
    background-position-y: calc(3*-160px); }
  .card#Hearts9 {
    background-position-x: calc(8*-120px);
    background-position-y: calc(3*-160px); }
  .card#Spades14 {
    background-position-x: calc(0*-120px);
    background-position-y: calc(1*-160px); }
  .card#Spades13 {
    background-position-x: calc(12*-120px);
    background-position-y: calc(1*-160px); }
  .card#Spades12 {
    background-position-x: calc(11*-120px);
    background-position-y: calc(1*-160px); }
  .card#Spades11 {
    background-position-x: calc(10*-120px);
    background-position-y: calc(1*-160px); }
  .card#Spades10 {
    background-position-x: calc(9*-120px);
    background-position-y: calc(1*-160px); }
  .card#Spades9 {
    background-position-x: calc(8*-120px);
    background-position-y: calc(1*-160px); }
