body{
	margin: 0;
	box-sizing: border-box;
}

.gameSpace {
	height: 100vh;
	width: 100%;
	background-color: mediumseagreen;

	.temporary {
		color: gray;
	}

	.bidRoundOne {
		color: blue;
	}

	.bidRoundTwo {
		color: mediumvioletred;
	}
}