.cardsContainer {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 20% auto 20%;
  height: 100%;
  width: 100%; }
  .cardsContainer .hand {
    position: relative;
    width: calc(120px + 4*40px);
    height: 160px;
    justify-self: center;
    align-self: center; }
    .cardsContainer .hand .card:nth-child(1) {
      left: 0; }
    .cardsContainer .hand .card:nth-child(2) {
      left: calc(1*40px); }
    .cardsContainer .hand .card:nth-child(3) {
      left: calc(2*40px); }
    .cardsContainer .hand .card:nth-child(4) {
      left: calc(3*40px); }
    .cardsContainer .hand .card:nth-child(5) {
      left: calc(4*40px); }
  .cardsContainer .southHand {
    grid-column: 2;
    grid-row: 3; }
  .cardsContainer .westHand {
    grid-column: 1;
    grid-row: 2; }
  .cardsContainer .northHand {
    grid-column: 2;
    grid-row: 1; }
  .cardsContainer .eastHand {
    grid-column: 3;
    grid-row: 2; }
  .cardsContainer .played {
    grid-column: 2;
    grid-row: 2;
    position: relative; }
    .cardsContainer .played .southPlayed {
      bottom: 0; }
    .cardsContainer .played .westPlayed {
      left: 0; }
    .cardsContainer .played .northPlayed {
      top: 0; }
    .cardsContainer .played .eastPlayed {
      right: 0; }
