@import "variables.scss";

.cardsContainer{
	display: grid;
	grid-template-columns: 25% auto 25%;
	grid-template-rows: 20% auto 20%;
	height: 100%;
	width: 100%;

	.hand{
		position: relative;
		width: calc(#{$cardWidth} + 4*#{$cardDistance});
		height: $cardHeight;
		justify-self: center;
		align-self: center;

		.card:nth-child(1){
			left: 0;
		}
		.card:nth-child(2){
			left: calc(1*#{$cardDistance});
		}
		.card:nth-child(3){
			left: calc(2*#{$cardDistance});
		}
		.card:nth-child(4){
			left: calc(3*#{$cardDistance});
		}
		.card:nth-child(5){
			left: calc(4*#{$cardDistance});
		}
	}

	.southHand{
		grid-column: 2;
		grid-row: 3;
	}

	.westHand{
		grid-column: 1;
		grid-row: 2;
	}

	.northHand{
		grid-column: 2;
		grid-row: 1;
	}

	.eastHand{
		grid-column: 3;
		grid-row: 2;
	}
}