@import "variables.scss";

.cardsContainer{
	display: grid;
	grid-template-columns: 25% auto 25%;
	grid-template-rows: 20% auto 20%;
	height: 100%;
	width: 100%;

	.hand{
		position: relative;
		justify-self: center;
		align-self: center;

		&.southHand{
			grid-column: 2;
			grid-row: 3;
		}

		&.westHand{
			grid-column: 1;
			grid-row: 2;
		}

		&.northHand{
			grid-column: 2;
			grid-row: 1;
		}

		&.eastHand{
			grid-column: 3;
			grid-row: 2;
		}

		&.hand1{
			left: calc(-2*#{$handCardDistance});
		}
		&.hand2{
			left: calc(-1*#{$handCardDistance});
		}
		&.hand3{
			left: 0;
		}
		&.hand4{
			left: calc(1*#{$handCardDistance});
		}
		&.hand5{
			left: calc(2*#{$handCardDistance});
		}
	}

	.played{
		position: relative;
		grid-column: 2;
		grid-row: 2;
		margin: 50px;

		&.southPlayed{
			align-self: flex-end;
			justify-self: center;
		}

		&.westPlayed{
			align-self: center;
			justify-self: left;
		}

		&.northPlayed{
			align-self: flex-start;
			justify-self: center;
		}

		&.eastPlayed{
			align-self: center;
			justify-self: right;
		}
	}
}