.cardsContainer {
  height: 100%;
  width: 100%; }
  .cardsContainer .card {
    position: absolute;
    margin: 0;
    top: calc(50% - 160px/2);
    left: calc(50% - 120px/2);
    z-index: 0; }
    .cardsContainer .card.south {
      top: calc(100% - 160px - 20px);
      left: calc(50% - 120px/2); }
      .cardsContainer .card.south.played {
        top: calc(100% - 160px - 25%); }
    .cardsContainer .card.west {
      top: calc(50% - 160px/2);
      left: calc(4*20px); }
      .cardsContainer .card.west.played {
        left: 30%; }
    .cardsContainer .card.north {
      top: 20px;
      left: calc(50% - 120px/2); }
      .cardsContainer .card.north.played {
        top: 25%; }
    .cardsContainer .card.east {
      top: calc(50% - 160px/2);
      left: calc(100% - 120px - 4*20px); }
      .cardsContainer .card.east.played {
        left: calc(100% - 120px - 30%); }
    .cardsContainer .card.center {
      top: calc(50% - 160px/2);
      left: calc(50% - 120px/2); }
    .cardsContainer .card.hand1 {
      margin-left: calc(-2*30px); }
    .cardsContainer .card.hand2 {
      margin-left: calc(-1*30px); }
    .cardsContainer .card.hand3 {
      margin: 0; }
    .cardsContainer .card.hand4 {
      margin-left: calc(1*30px); }
    .cardsContainer .card.hand5 {
      margin-left: calc(2*30px); }
