@import "variables.scss";

.cardsContainer {
	height: 100%;
	width: 100%;

	.card {
		position: absolute;
		margin: 0;
		top: calc(50% - #{$cardHeight}/2);
		left: calc(50% - #{$cardWidth}/2);
		z-index: 0;

		&.south {
			top: calc(100% - #{$cardHeight} - #{$cardPadding});
			left: calc(50% - #{$cardWidth}/2);

			&.played {
				top: calc(100% - #{$cardHeight} - 25%);
			}
		}

		&.west {
			top: calc(50% - #{$cardHeight}/2);
			left: calc(4*#{$cardPadding});

			&.played {
				left: 30%;
			}
		}

		&.north {
			top: #{$cardPadding};
			left: calc(50% - #{$cardWidth}/2);

			&.played {
				top: 25%;
			}
		}

		&.east {
			top: calc(50% - #{$cardHeight}/2);
			left: calc(100% - #{$cardWidth} - 4*#{$cardPadding});

			&.played {
				left: calc(100% - #{$cardWidth} - 30%);
			}
		}

		&.center {
			top: calc(50% - #{$cardHeight}/2);
			left: calc(50% - #{$cardWidth}/2);
		}

		&.hand1 {
			margin-left: calc(-2*#{$handCardDistance});
		}

		&.hand2 {
			margin-left: calc(-1*#{$handCardDistance});
		}

		&.hand3 {
			margin: 0;
		}

		&.hand4 {
			margin-left: calc(1*#{$handCardDistance});
		}

		&.hand5 {
			margin-left: calc(2*#{$handCardDistance});
		}
	}
}